

body{
    background-image: url(imagens/A\ futuristic\ financial-themed\ digital\ artwork\ using\ glowing\ green\ tones\,\ inspired\ by\ the\ original\ im.jpeg);
    padding: 150px;
}

.conta{
    font-size: 20px;
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.container{
    font-size: 18px;
    color: aliceblue;
}

.container h1{
    color: aliceblue;

}


